:root {
    --primaryColor: #ff0000;
    --secondaryColor: #f7bcf7;
    --lightColor: #ffffff;
    --bgColor-1: #171a1c;
    --bgColor-2: #22282a;
    --padding: 8%
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    color: var(--lightColor);
}
/* _____________________________________________________________Home______________________________________________________________ */
.home {
    width: 100%;
    height: 100vh;
    background-color: var(--bgColor-1);
    display: flex;
    flex-direction: column;
}

/*________________________________________Nav_________________________________  */
nav{
    padding-top: 2.8rem;
    padding-left: var(--padding);
    padding-right: var(--padding);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed; 
    width: 100%;
    top: 0; 
    z-index: 9999; 
    background-color: var(--bgColor-1);
}

span{
    color: var(--primaryColor);
}

nav h2{
    font-size: 2.2rem;
    letter-spacing: 0.12rem;
    cursor: pointer;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    margin: 0.8rem 1.5rem;
}

nav ul li a {
    color: var(--lightColor);
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.5s;
}

nav ul li a:hover{
    color: var(--primaryColor);
}

.btn {
    background-color: var(--primaryColor);
    color: var(--lightColor);
    font-weight: bold;
    padding: 0.81rem 1.87rem;
    border-radius: 30px;
    text-decoration: none;
    border: 2px solid transparent;
    transition: 0.4s;
}

.btn:hover {
    background-color: transparent;
    border: 2px solid var(--primaryColor);
}

/* __________________________________Home content_____________________________________ */
.home .content {
    flex-grow: 1;
    padding: 0 var(--padding);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* ______________________container-texts____________________ */
.home .container-texts {
    position: relative;
    bottom: 70px;
}
.home .container-texts  h1 {
    font-size: 3rem;
    margin: 1.7rem 0;
}

.home .container-texts  h3 {
    font-size: 1.5rem;
    margin-bottom: 3.5rem;
}

.home .container-texts h4 {
    font-size: 1.2rem;
    color: var(--secondaryColor);
}

/* _____________________social______________ */
.social {
    margin-top: 3.5rem;
    position: absolute;
    top: 4rem;
    left: 11rem;
    top: 16rem;
    
}

.social ul {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.social ul li {
    list-style: none;
}

.social ul li a {
    width: 70px;
    height: 70px;
    background-color:var(--bgColor-1);
    text-align: center;
    line-height: 80px;
    font-size: 35px;
    margin: 0 10px;
    display: block;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    border: 3px solid #fff;
    z-index: 1;
}

.social ul li a .icon {
    position: relative;
    color:  #fff;
    transition: .5s;
    z-index: 3;
}

.social ul li a:hover .icon {
    color: #262626;
    transform: rotateY(360deg);
}

.social ul li a:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f00;
    transition: .5s;
    z-index: 2;
}

.social ul li a:hover:before {
    top: 0;
}

.social ul li:nth-child(1) a:before{
    background: #3b5999;
}

.social ul li:nth-child(2) a:before{
    background: #55acee;
}

.social ul li:nth-child(3) a:before {
    background: #0077b5;
}

.social ul li:nth-child(4) a:before {
    background: #dd4b39;
}

/* ______________________container-images____________________ */
.home .container-images {
    width: 45%;
    height: 90%;
    position: relative;
    align-self: flex-end;
}

.home .container-images img {
    position: absolute;
    bottom: 0;
    height: 90%;
    left: 50%;
    transform: translateX(-50%);
    transition: bottom 1s, left 1s;
}

.home .container-images:hover .shape{
    bottom: 40px;
}

.home .container-images:hover .man{
    left: 45%;
}

/* _____________________________________________________________About me______________________________________________________________ */

.about {
    background-color: var(--bgColor-2);
    width: 100%;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 1s ease;
}

/* .about:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    transition: 1s ease;
    } */

/* ______________________container-images____________________ */
.about .container-images {
    width: 35%;
}

.about .container-images img{
    width: 20rem;
    position: relative;
    left: 10rem;
    transition: 1s ease;
}
.about .container-images img:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    transition: 1s ease;
    }

/* ______________________container-texts____________________ */
.about .container-texts{
    position: relative;
    right: 15rem;
    bottom: 1.5rem;
    /* transition: 1s ease; */
}

.about .container-texts h1{
    font-size: 3rem;
    margin: 1.7rem 0;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
    box-shadow: inset 0 0 0 0 #eff2f3;
    cursor: pointer;
}

.about .container-texts h1:hover {
    box-shadow: inset 230px 0 0 0 #eff2f3;
    color: rgb(5, 5, 5);
}

.about .container-texts span {
    color: red;
}

.about .container-texts p {
    width: 22rem;
    padding-top: 1rem;
    letter-spacing: 0.01rem;
    line-height: 1.5rem;
    text-align: justify;
}

/* _____________________________________________________________services______________________________________________________________ */
.services {
    background-color: var(--bgColor-1);
    padding: 2rem var(--padding);
    /* width: 100%; 
    height: 60vh;
    display: flex; */
    
}

.title  {
    font-size: 3rem;
    margin: 1rem 25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
    box-shadow: inset 0 0 0 0 #eff2f3;    
    cursor: pointer;
}

.title:hover {
    box-shadow: inset 295px 0 0 0 #eff2f3;
    color: rgb(5, 5, 5);
}


.title span {
    color: var(--primaryColor);
}

.box {
    display: flex;
    justify-content: space-between;
}

.card {
    width: 250px;
    background-color: var(--bgColor-2);
    border-radius: 1.2rem;
    padding: 1.3rem 2rem;
    text-align: center;
}
.card i {
    font-size: 3.12rem;
    text-align: center;
    color: var(--primaryColor);
    margin: 2rem;
}

.card h5 {
    font-size: 1.5rem;
    margin: 1rem 0;
}

.par p {
    font-size: 1.2rem;
    color: var(--secondaryColor);
    letter-spacing: 0.01rem;
    line-height: 1.5rem;
    text-align: justify;
}

/* _____________________________________________________________Skills______________________________________________________________ */


.skills {
    background-color: var(--bgColor-2);
    width: 100%;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 1s ease;
}

/* ______________________container-images____________________ */
.skills {
    background-color: var(--bgColor-2);
    padding: 2rem var(--padding);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container-skills h1 {
    font-size: 3rem;
    margin: 1rem 0rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
    box-shadow: inset 0 0 0 0 #eff2f3;  
    cursor: pointer;
}

.container-skills h1:hover {
    box-shadow: inset 210px 0 0 0 #eff2f3;
    color: rgb(5, 5, 5);
}

.skills .container-skills {
    width: 40%;
}

.skills .container-images {
    width: 35%;
}

.skills .container-images img{
    width: 90%;
    /* position: relative;
    /* left: 10rem; */
    transition: 1s ease; 
}

.skills .container-images img:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    transition: 1s ease;
}

.content-skills {
    display: flex;
    flex-wrap: wrap;
}

.skill img{
    width: 5rem;
    height: 5rem;
    background-color: var(--lightColor);
    border-radius: 50%;
    margin: 0 2rem 2rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* .skill span {
    
	z-index: -1;
	display: block;
	width: 300px;
	margin-left: -10px;
    margin-top: -25px;
    margin-top: -20px;
	padding: 0;
	color: #ffffff;
	font-size: 20px;
	text-decoration: none;
	text-align: start;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
	opacity: 0;
}

.skill:hover+.skill span {
	bottom: 200px;
	opacity: 1;
} */


/* ______________________________________________________________Footer________________________________________________________________________ */

footer {
    background-color: var(--bgColor-1);
    padding: 20px;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    max-width: 1200px;
}

.footer-col {
    text-align: left;
    width: 33%;
}

.footer-col h3 {
    font-size: 18px;
    margin-bottom: 10px;
    color: var(--primaryColor);
}

.footer-col ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-col a {
    color: var(--lightColor);
    text-decoration: none;
    
}

.footer-col a:hover {
    color: #0066cc;
}
.footer-col li:hover {
    color: #0066cc;
}

.copyright {
    color: #999;
    font-size: 14px;
    margin-top: 20px;
}

/* ____________________Menu________________________ */
#menu {
    display: none;
    position: relative;
    appearance: none;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    user-select: none;
}

#menu span {
    display: block;
    width: 33px;
    height: 4px;
    background-color: var(--lightColor);
    border-radius: 6px;
    transform-origin: 0 0;
    transition: 0.4s;
    margin-bottom: 5px;
}
#menu.is-active span:nth-child(1) {
    transform: translate(0px, -2px) rotate(45deg);
}

#menu.is-active span:nth-child(2) {
    opacity: 0;
    transform: translateX(15px);
}

#menu.is-active span:nth-child(3) {
    transform: translate(-3px, 3px) rotate(-45deg);
}

#menu.is-active span {
    background-color: var(--primaryColor);
}

/* _________________________________________________________Media Queries ____________________________________________________________ */

/* --------------------------- iPhone SE ------------------------- */

@media screen and (max-width:575px) {
    :root {
        --padding: 1.5rem;
    }

    html {
        font-size: 13px;
    }

/* ____________________________________home____________________________________ */

    .home .container-images img {
        display: none;
    }

    .home .container-images img {
        bottom: 0;
    }

    .social {
        margin-top: 70px;
        left: 170px;
    }

/* _______________________nav___________________________ */

    nav {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 82px;
        padding-top: 0;
        background-color: var(--bgColor-1);
        border-bottom: 1px solid var(--bgColor-2);
        z-index: 100;
    }

    nav > a {
        display: none;
    }

    nav ul {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: var(--bgColor-2);
    }

    nav ul.is-active {
        display: block;
    }

    nav ul li {
        display: block;
        text-align: center;
        margin: 50px;
    }

    #menu {
        display: block;
    }

/* ________________________About____________________ */

    .about .container-images img {
        display: none;
    }

    .about .container-texts {
        width: 100%;
        right: 3rem;
        justify-content: center;
    }

/* ________________________Services____________________ */

    .box{
        justify-content: center;
        flex-wrap: wrap;
        gap: 1rem;
    }

    .services .title {
        margin: 2rem 3.75rem;
    }

/* ________________________Skills____________________ */

    .skills .container-images img {
        display: none;
    }
    .skills .container-skills {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        
    }

    .skills .container-skills .content-skills {
        position: relative;
        margin-top: 2rem;
        right: -4rem;
        align-items: center;
        justify-content: center;
        
    }

    .skill {
        width: 80px;
        height: 80px;
    }

    .container-skills h1 {
        margin-left: 6.4rem;
    }



}

/* --------------------------- iPhone SE rotate ------------------------- */

@media screen and (min-width:576px)  and (max-width:767px){
    :root {
        --padding: 1.5rem;
    }

    html {
        font-size: 13px;
    }
/* ________________________________________Home__________________________________ */

    .home .container-images img {
        display: none;
    }
/* _________________________nav____________________ */

    nav {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 82px;
        padding-top: 0;
        background-color: var(--bgColor-1);
        border-bottom: 1px solid var(--bgColor-2);
        z-index: 100;
    }

    nav > a {
        display: none;
    }

    nav ul {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: var(--bgColor-2);
    }

    nav ul.is-active {
        display: block;
    }

    nav ul li {
        display: block;
        text-align: center;
        margin: 50px;

    }

    #menu {
        display: block;
    }

    .home .container-texts {
        position: relative;
        bottom: 1rem;
    }

    .home .container-images img {
        bottom: 0;
    }
/* _____________________Social____________________ */

    .social {
        margin-top: 70px;
        left: 170px;
    }

    .social ul {
        display: flex;
        position: absolute;
        left: 50%;
        top: -3rem;
        transform: translate(-50%, -50%);
    }

/* _____________________About____________________ */

    .about {
        height: 80vh;
    }

    .about .container-images img {
        display: none;
    }

    .about .container-texts {
        width: 100%;
        right: 3rem;
        justify-content: center;
    }

    .about .container-texts h1

    .about .container-texts p {
        width: 40rem;
        font-size: larger;
        padding-top: 1rem;
        margin: auto;
        letter-spacing: 0.01rem;
        line-height: 2.5rem;
        text-align: justify;
    }

/* _____________________Services____________________ */

    .box{
        justify-content: center;
        flex-wrap: wrap;
        gap: 1rem;
    }

    .services .title {
        margin: 2rem 14.5rem;
    }

/* _____________________Skills____________________ */

    .skills .container-images img {
        display: none;
    }

    .skills .container-skills {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        
    }

    .skills .container-skills .content-skills {
        position: relative;
        margin-top: 2rem;
        right: -7rem;
        align-items: center;
        justify-content: center;
    }

    .skills {
        height: 80vh;
    }

    .skill {
        width: 80px;
        height: 80px;
    }

    .container-skills h1 {
        margin-left: 13rem;
    }

}